#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
button{
  padding:20px;
  margin: 5px;
  background-color: #BA4A00;
}

body {
  margin: 5px;
  display: flex;
  place-items: start;
  min-width: 320px;
  min-height: 100vh;
  background-color: #8B4513;
  background-image: url("ivy.png");
  background-position: inherit;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}




.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
